<%= turbo_frame_tag note do %>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= note.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= note.content %>
  </div>

<% end %>